{% extends "base.html" %}

{% block head_title %} Users {% endblock %}

{% block body_title %} Users {% endblock %}





{% block body_content %}
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
 <div class="modal-dialog">
 <div class="modal-content">
 <div class="modal-header">
 <h5 class="modal-title" id="exampleModalLabel">This entry will be deleted:</h5>
 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
 </div>
 <div class="modal-body" id="idDeleteModalBody">
 ...
 </div>
 <div class="modal-footer">
 <form action="" method="GET" id="confirmDeleteForm">
 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
 <button type="submit" class="btn btn-danger">Delete</button>
 </form>
 </div>
 </div>
 </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 $(document).ready(function () {
 // For A Delete Record Popup
 // This function is applied to all elements with class ending with ".delete-confirm"
 $('.delete-confirm').click(function () {
    var desc = $(this).attr('data-desc');
    console.log(desc); // Upewnij się, że wartość jest poprawnie pobierana
    var url = $(this).attr('data-url');
    $('#idDeleteModalBody').text(desc);
    $("#confirmDeleteForm").attr("action", url);
});
 });
</script>

<div class="container">
 <table class="table">
 <thead>
 <tr>
 <th scope="col">#</th>
 <th scope="col">User name</th>
 <th scope="col">Email</th>
 <th scope="col">Is active</th>
 <th scope="col">Is admin</th>
 <th scope="col">Actions</th>
 </tr>
 </thead>
 <tbody>
 {% for user in users %}
 <tr>
 <th scope="row">{{ user.id }}</th>
 <td>{{ user.name }}</td>
 <td>{{ user.email }}</td>
 <td>
  <a href="{{ url_for('user_status_change', action='active', user=user.name) }}">
     {% if user.is_active == 1 %}
        &check;
     {% else %}
        &#x25a2;
     {% endif %}
   </a>
 </td>
 <td>
    <a href="{{ url_for('user_status_change', action='admin', user=user.name) }}">
     {% if user.is_admin == 1 %}
        &check;
     {% else %}
        &#x25a2;
     {% endif %}
    </a>
 </td>
 <td>
 <a href="{{ url_for('edit_user', username=user.name) }}"
 class="btn btn-success btn-sm" role="button">Edit...</a>
 <a type="button" class="btn btn-danger btn-sm delete-confirm"
 data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
 data-desc="{{ 'Delete user {}?'.format(user.name) }}"
 data-url="{{ url_for('delete_user', username=user.name) }}">
 Delete
 </a>
 </td>
 </tr>
 {%endfor%}
 </tbody>
 </table>
</div>
{% endblock %}

